.main-block {
  padding: 100px 0; }
  @media (max-width: 992px) {
    .main-block {
      padding: 44px 0; } }

footer.main-block {
  padding: 100px 0 60px; }
  .container-fluid {
  max-width: 1500px; }
  
  .news-block {
  -webkit-box-shadow: 0px 2px 2px 0px rgba(222, 222, 222, 0.67);
  box-shadow: 0px 2px 2px 0px rgba(222, 222, 222, 0.67);
  border-radius: 3px;
  background: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 30px; }
  .news-block img {
    width: 100%; }
  .news-block:hover {
    -webkit-box-shadow: 0px 3px 50px 0px #dedede;
    box-shadow: 0px 3px 50px 0px #dedede;
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px); }

.news-title {
  padding: 20px 26px; }
  .news-title p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #7c7c7c;
    margin: 0; }
  .news-title h5 {
    color: #484848;
    line-height: 1.3;
    margin: 10px 0;
    font-size: 20px; }