* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

body {
	background-image: url(#{request.contextPath}/resources/gfx/childhood.png);
	background-size: cover;
	background-repeat: no-repeat;
	font-family:sans-serif;
	height: 100vh;
	
}

nav{
	background:#2A92A2;
	height:80px;
	width:100%;
} 
.nav-list{
	display:inline-block;
	justify-content:flex-end;
	align-items: center;
}
.nav-item{
	margin-right: 2rem;
	text-transform: uppercase;
	font-weight:600;
}
.nav-item a{
	color:#ffffff;
	letter-spacing:1.2px;
}


label.logo{
	color:white;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
}

nav ul{
	float:right;
	margin-right : 20px;
}

nav ul li{
	display: inline-block;
	line-height : 80px;
	margin : 0 5px;
}

nav ul li a{
	color:white;
	font-size : 17px;
	padding : 7px 13px;
	border-radius : 3px;
	text-transform: uppercase;
}

a.active,a:hover{
	background:#6DB8C4;
	transition: .5s;
}