* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: "Open Sans", sans-serif;
}
a {
	text-decoration: none;
}

body {
}

nav{
	background:#0072CE;
	height:50px;
	width:100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-end;
	justify-content: center;
} 
.nav-list{
	display: flex;
	justify-content: center;
	flex-direction: row;
}
.nav-item{
	margin-right: 2rem;
	text-transform: uppercase;
	font-weight:600;
}
.nav-item a{
	color:#ffffff;
}


label.logo{
	color:white;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
}

nav ul{
	float:right;
	margin-right : 20px;
}

nav ul li{
	display: inline-block;
	margin : 0 5px;
}

nav ul li a{
	color:#FFFFFF;
	font-size : 14px;
	text-transform: uppercase;
	text-decoration: none;
}

a.active,a:hover{
	background:#6DB8C4;
	transition: .5s;
}