
body{
	font-family: montserrat;
}
nav{
	background:#000904;
	height:80px;
	width:100%;
} 

.logoOhana {
	padding: 0 20px;
    height: 40px;
    color: #ffffff;
}
.logoOhanaFooter {
	padding: 0 20px;
    height: 40px;
    color: #000000;
    align-content: center;
}

nav ul.nav-list{
	float:left;
	margin-right : 20px;
	
}
nav ul.nav-item-connexion{
	float:right;
	padding: 0 20px;
	
}

nav ul li{
	padding:0 20px;
	display: inline-block;
	line-height : 80px;
	margin : 0 5px;
	color:white;
}

nav ul li a{
	color:#FFFFFF;
	font-size : 14px;
	text-transform: uppercase;
	text-decoration: none;
}

a.active,a:hover{
	text-decoration:overline;
	background:#6DB8C4;
	transition: .5s;
}