/*   French map */
.carte {
    width: 20%;
    margin-top: 5em;
    margin-left: 2em;
}

.carte path {
    fill: #3883ce;
    stroke: #d5d5d5;
    stroke-width: 4px;
    transition: fill 0.3s;
}

.carte :hover {
    fill: #363636;
}

/*  Event cards */
.eventCard {
    width: 50em;
    margin-left: 20rem;
}

#search {
    margin-top: 2em;
    margin-left: 2em;
}
